* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.navbar > ul {
    display: flex;
    list-style-type: none;
    column-gap: 10px;
}

.navbar > img {
    width: 40px;
    align-self: center;
}
